.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
.idea/
.vscode/
.DS_Store
*.swp
*.swo
.env
.env*/
venv/
.venv/
python_plc_visualizer/.venv/
python_plc_visualizer/venv/
uv.lock
*.egg-info/
.python-version
build/
dist/
.eggs/
*.log
*.tmp
*.bak
coverage_report/
.coverage
test_data/random.log
*.rej
*.orig
AGENTS.MD
python_plc_visualizer/tools/map_viewer/mappings_and_rules.yaml
